<h1>Posts</h1>

<% flash.each do |type, msg| %>
  <div class="alert alert-success">
    <%= msg %>
  </div>
<% end %>

<%= link_to "Create", new_post_path, class: "btn btn-sm btn-primary" %>
<table class="table table-striped mt-3">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th>Operation</th>
  </tr>
  <% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, post %></td>
    <td><%= post.description %></td>
    <td><%= post.status == '1'? 'private' : 'public' %></td>
    <td>
      <%= link_to "Edit", edit_post_path(post.id), class: "btn btn-sm btn-warning" %>
      <%= link_to "Delete", post_path(post.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
    </td>
  </tr>
  <% end %>
</table>

<%= form_with url: logout_path do |form| %>
  <div>
    <%= form.submit "Logout", class: "btn btn-success mt-3" %>
  </div>
<% end %>
