<h1>Users</h1>

<% flash.each do |type, msg| %>
  <div class="alert alert-success">
    <%= msg %>
  </div>
<% end %>

<%= link_to "Create", new_user_path, class: "btn btn-sm btn-primary" %>
<%= link_to "See All Posts", posts_path, class: "btn btn-sm btn-primary" %>
<table class="table table-striped mt-3">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Operation</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
    <td><%= user.address %></td>
    <td><%= user.phone %></td>
    <td>
      <%= link_to "Edit", edit_user_path(user.id), class: "btn btn-sm btn-warning" %>
      <%= link_to "Delete", user_path(user.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
      </td>
  </tr>
  <% end %>
</table>

<%= form_with url: logout_path do |form| %>
  <div>
    <%= form.submit "Logout", class: "btn btn-success mt-3" %>
  </div>
<% end %>
