<%= form_with model: @user do |form| %>
  <div class="alert alert-danger">
      <div><%= flash[:notice] %></div>
  </div>
  
  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <%= link_to "Forgot your password?", password_reset_path %>

  <div>
    <%= form.submit :Login, class: "btn btn-sm btn-success mt-3" %>
  </div>
<% end %>

