  <tr>
    <td><%= link_to post.title, post %></td>
    <td><%= post.description %></td>
    <td><%= post.status == "1" ? "private" : "public" %></td>
    <td>
      <%= link_to "Edit", edit_post_path(post.id), class: "btn btn-sm btn-warning" %>
      <%= link_to "Delete", post_path(post.id), method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-sm btn-danger remove_post", :remote => true %>
    </td>
  </tr>
